@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --beige500: #98908b;
  --beige100: #F8F4F0;
  --grey900: #201F24;
  --grey500: #696868;
  --grey300: #b3b3b3;
  --grey100: #f2f2f2;
  --secGreen: #277c78;
  --secYellow: #f2cdac; 
  --secCyan: #82c9d7;
  --secNavy:  #626070;
  --secRed: #c94736;
  --secPurple: #826cb0;
  --otPurple: #af81ba;
  --otTurquoise: #597c7c;
  --otBrown: #93674f;
  --otMagenta: #934f6f;
  --otBlue: #3f82b2;
  --otNavyGrey: #97a0ac;
  --otArmyGreen: #7f9161;
  --otGold: #cab361;
  --otOrange: #be6c49;
  --white: #ffffff;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.4%;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
